<h2>Edit your cv:</h2>
    <%= form_with model: [ @job_navigation, @job_navigation.applies.build ] do |form| %>
  <p>
   <div class="mb-3">
     <%= form.label :cv, "Upload Cv" %>
     <%=form.file_field :cv %>
  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>
 