<h1>Editing User Account Attachment</h1>

<%= render 'form', user_account_attachment: @user_account_attachment %>

<%= link_to 'Show', @user_account_attachment %> |
<%= link_to 'Back', user_account_attachments_path %>
