<% @current_user.followers.each do |user| %>
  <section class="card my-5 shadow size " style="background-color: rgb(5,70,10);">
  <div class="fl">
    <div class="card-body text-light">
      <%=user.username %> 
      <%= button_to "Unfollow", unfollow_path(user) %>
    </div>
    <% user.user_accounts.each do |user_account| %>
        <div class=" mb-3 text-light out ">
           <% if user_account.picture.attached? %>
             <%= image_tag user_account.picture.url  %>
           <% else %>
            <%= image_tag("https://i.pinimg.com/736x/d4/37/4b/d4374b6dc2934880eaa7a5e8989c1f64.jpg") %>
           <% end %>
        </div>
      <% end %>
      </div>
   </section>

<% end %>