<%= form_with model: @job_field, url: edit_job_field_path do |form| %>
   
      
    <% if form.object.errors.any? %>
     <div class="alert alert-danger">
     <% form.object.errors.full_messages.each do |message| %>
     <div><%= message %></div>
      <% end %>
     </div>
     <% end %>

<div class="mb-3">
<h3>Edit Job sector</h3>
<%= form.text_field :jobsection, class: "form-control" , placeholder: "IT"%>
</div>


<div class="mb-3">
  <%= form.submit "Update" , class: "btn btn-primary" %>
  </div>

<% end %>