


<div class="cont-<%= chat.user.id %>">
  <div class="message-box msg-<%= chat.user.id %> " >
    <% unless chat.room.private %>
      <h6 class="name"> <%= chat.user.username %> </h6>
    <% end %>
  <%= chat.content %>
  </div>
</div>