/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_self

 
 *= require font-awesome
 
 */

.box {
  margin: auto;
}

.message-box {
  width: 90%;
  padding: 5px;
  border-radius: 10px;

  margin-bottom: 10px;
  background-color: #555555;
  padding: 10px;
}

.chat-box {
  width: 85%;
  margin: auto;
  border-radius: 10px;
}

.bg-container {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: rgba(7, 1, 1, 0.979);

  overflow: hidden;
}

.bg-container img {
  width: 70px;
  height: auto;
}

.posi {
  position: relative;
  top: 200px;
}

.logo {
  font-size: 2em;
  position: relative;
  top: 20px;
  border-style: solid;
  border-color: rgb(139, 139, 243);
}

.size {
  width: 50%;
  margin: auto;
}

.small {
  width: 30%;
  margin: auto;
}

.sel {
  display: none;
}

.show {
  display: block;
}

.col {
  color: rgb(241, 153, 201);
}

.post-actions {
  margin-bottom: 20px;
}

.curs {
  cursor: pointer;
}
.active {
  color: rgb(245, 89, 115);
}

.outer img {
  margin: auto;
  width: 20%;
  border-radius: 50%;
  position: relative;
  top: 10px;
}

.out img {
  width: 30%;

  border-radius: 50%;
  position: relative;
  left: 1%;
  top: 10px;
  padding-bottom: 10px;
}

.fl {
  text-align: center;
}

.head {
  position: relative;
  top: 40px;
  margin: auto;
}

.search {
  width: 30%;
  margin-top: 20px;
  position: relative;
  left: 65%;
}

.serbutton {
  position: relative;
  left: 65%;
  top: 10px;
}

.tablesize {
  width: 70%;
  margin: auto;
  position: relative;

  top: 50px;
}

.link {
  text-decoration: none;
}

.bg {
  background-color: white;
  position: relative;
  top: 90px;
  right: 7em;
}

.picture {
  width: 100%;
}

.center {
  text-align: center;
}

.network {
  width: 300px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.bgin {
  position: relative;
  right: 20%;
  top: 0px;
}
.wrapperjob {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.flexcol {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 38em;

  top: 50px;
}

.col1 {
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.wrapperjob1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.navpic img {
  width: 6%;
  border-radius: 50%;
  position: relative;
  top: 0px;
}

.navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.topnav-right {
  float: right;
}

.flexrow1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexrow2 {
  display: flex;
  flex-direction: row;
}

.required::after {
  content: " *";
  color: red;
}

.certificate img {
  width: 30%;
  height: 120px;
}
