// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.msg-form {
  position: fixed;
  bottom: 0px;
  width: 95%;
  margin-right: 100px;
}

.col-md-10 {
  height: 50vh;
  overflow: scroll;
  margin-bottom: 10px;
}

.msg-content {
  width: 58%;
  margin-right: 5px;
  margin-top: 0px;
}

.text-center.pos {
  position: relative;
  bottom: 80px;
}
