<section class="card my-5 shadow size" style="background-color: #f5f5dc;">
        <div class="card-body">
<%= form_with model: @job_position, url: edit_job_position_path do |form| %>
  <div class="mb-3">
    <h3>Edit Job role</h3>
    <%= form.label :jobdesignation, class: "text-light"%>
    <%= form.text_field :jobdesignation, class: "form-control" , placeholder: "HR"%>
  </div>
  <div class="mb-3">
    <%= form.submit "update" , class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</section>