
<header>
  <div 
    class="bg-container picture" 
    style="background-image: url('https://media.istockphoto.com/id/1357880802/photo/shot-of-an-attractive-young-businesswoman-standing-and-looking-contemplative-while-holding-a.jpg?b=1&s=170667a&w=0&k=20&c=762aRLVGmKoBQo-pU6Gww2Vr50XbEdS16-Npf1IVOjI=');">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h4>Welcome Admin!</h4>
        </div>
      </div>
    </div>
  </div>
</header>
