<section class="card my-5 shadow" style="background-color: rgba(114, 108, 248, 0.3);">
                   <div class="card-body">
      

<%= link_to 'JOBROLES', job_positions_path  %>

</div>
</section>

<section class="card my-5 shadow" style="background-color: rgba(114, 108, 248, 0.3);">
                   <div class="card-body">

<%= link_to 'JOBSECTORs', job_fields_path  %>

</div>
</section>




